<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AI桌寵.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AI桌寵.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AI桌寵.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>8e5f167f7d78470196ebc2950589db0a.qqNIJMqGt3AqOseF</value>
            </setting>
        </AI桌寵.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AI桌寵.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://open.bigmodel.cn/api/paas/v4/chat/completions</value>
            </setting>
            <setting name="TextModel" serializeAs="String">
                <value>glm-4.5-flash</value>
            </setting>
            <setting name="VisionModel" serializeAs="String">
                <value>glm-4.6v-flash</value>
            </setting>
        </AI桌寵.Properties.Settings>
    </applicationSettings>
</configuration>